.list-item{
    gap: 20px;
    display: grid;
}
@media screen and (max-width:576px){
    .nav_menu {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        z-index: 10;
        transition: all .5s ease-in-out;
        opacity: 0;
        transform-origin: left;
        height: 400px;
        width: 100%;
    }
    .nav_menu .nav-list {
        height:100%;
        padding: 50px 0;
        flex-direction: column;
        background-color: rgb(16, 14, 59);
    }
    .nav_menu .nav-list li a{
        color: #F2FBFF;
    }
}

@media screen and (min-width:577px){
    .hamburger{
        display: none;
    }
    .hero{
       height: 560px;
    }
    .list-item{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 700px) {
    .app-bar .container {
        padding: 32px 64px;
    }
    .app-bar .container nav {
        justify-content: space-between;
    }
    .hero{
        height: 400px;
    }
    .container-hero{
        padding: 32px 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero .text-hero{
        order: 1;
        left: 100px;
        position: absolute;
    }
    .hero h1{
        font-size: 40px;
    }
    .hero p, .hero button{
        font-size: 18px;
    }
    .most-popular,.location-map{
        margin: 60px 0;
        padding: 0 64px;
    }
    h2{
        font-size: 28px;
    }
    .location h3{
        font-size: 18px;
    }
    .location p{
        font-size: 16px;
    }
    footer{
        padding:0 64px 0 64px;
    }
    .list-footer{
        flex-direction: row;
    }
    .list-footer ul{
        flex-direction: row;
        width: 400px;
    }
    .list-footer ul li a{
        font-size: 16px;
    }
    .copyright{
        margin: auto;
    }
    .copyright p{
        font-size: 16px;
    }
}

@media screen and (min-width: 900px) {
    .hero{
        height: 580px;
    }
    .list-item {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
